---
title: A page for you
layout: base.njk
---

<div class="container">
  <h1>This is a page for you, Brett</h1>
  <h2>You are OK!</h2>
  <div class="vibe">You are great! Updating to check that this auto publishes.</div>
  <div class="love">
    ❤️
  </div>
</div>
<script src="/js/vibe.js"></script>
